<div class="detail-section">
    <div class="container-fluid">
        <!-- ? is used after product to avoid Cannot read property of undefined -->
        <!-- p style="margin-top: 100px">{{product?.name}} </p -->

        <img src="{{product.imageUrl }}" class="detail-img">
        <h3>{{product.name}} </h3>
        <div class="price">
            {{product.unitPrice | currency: 'USD'}}
            <button class="btn btn-primary btn-sm" (click)="addToCard()">Add to cart</button>
            <hr>
            <h4>Description</h4>
            <p>{{product.description }}</p>
        </div>

        <a routerLink="/products" class="mt-s">Back to Product List</a>
    </div>
</div>